@font-face {
  font-family: "IRANYekan";
  src: url("./assets/fonts/IRANYekan.ttf");
  font-weight: normal;
  font-style: normal;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: row;
  font-family: IRANYekan, sans-serif;
  direction: rtl;
  background-color: #ffffff;
}

.sidebar {
  width: 12vw;
  background-color: #00b5a0;
  background-image: url("assets/images/Alefba-Group.svg"),
    linear-gradient(to bottom, #00b5a0, #00c69b);
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
  background-size: contain, cover;
  border-radius: 20px 0 0 20px;
  overflow: hidden;
}

.main-content {
  flex: 1;
  padding: 20px;
  position: relative;
}

.title {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
  user-select: none;
}

.title p {
  color: #ffffff;
  font-size: 20px;
}

.selector-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25vh;
}

.selector {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  width: 70%;
  padding: 10px;
  cursor: pointer;
  transition: 0.25s ease-in-out;
  border-radius: 10px;
}

.selector:hover {
  background-color: #0000005c;
  scale: 1.05;
}

.selector p {
  margin: 0;
  color: #ffffff;
  width: 80%;
  text-align: center;
  font-size: 16px;
}

.main-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  text-align: center;
}

.main-title-container h1 {
  color: #00ba9f;
  font-size: 28px;
  margin: 0;
}

.main-title-container p {
  color: #969696;
  width: 33%;
  font-size: 16px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 100%;
  position: absolute;
  left: 0;
  margin-left: 30px;
}

.user-button {
  width: 121px;
  height: 37px;
  overflow: hidden;
  border-radius: 20px;
  border: 2px solid #00ba9f;
  background-color: #ffffff;
  cursor: pointer;
  transition: border-radius 0.25s ease-in-out, border-bottom 0.25s ease-in-out;
}

.user-button.open {
  border-radius: 20px 20px 0px 0px;
  border-bottom: none;
}

.user-button .drop-icon {
  transition: 0.25s ease-in-out;
}

.user-button.open .drop-icon {
  transform: rotate(180deg);
}

.user-title {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  padding-bottom: 9px;
}

.user-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 7%;
  width: 86%;
  height: 1px;
  background-color: #00ba9f;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.25s ease-in-out;
}

.user-button.open .user-title::after {
  transform: scaleX(1);
}

.user-title .user-icon {
  width: auto;
  height: 18.5px;
}

.user-title .drop-icon {
  width: 9.79px;
  height: auto;
}

.user-title p {
  font-size: 15px;
  font-family: IRANYekan, sans-serif;
  color: #00ba9f;
  margin: 0;
}

.dropdown {
  max-height: 0;
  opacity: 0;
  width: 121px;
  border: 2px solid #00ba9f;
  border-top: none;
  border-radius: 15px 15px 15px 15px;
  background-color: white;
  padding: 0 5px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: max-height 0.25s ease-in-out, padding 0.25s ease-in-out,
    opacity 0.25s ease-in-out, border-radius 0.25s ease-in-out;
  cursor: pointer;
}

.dropdown.open {
  max-height: 121px;
  opacity: 1;
  padding: 5px;
  border-radius: 0 0 15px 15px;
}

.logout-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 7px;
  margin: 0;
}

.logout-title .logout-icon {
  width: auto;
  height: 18.5px;
}

.logout-title p {
  font-size: 15px;
  font-family: IRANYekan, sans-serif;
  color: #00ba9f;
  margin: 0;
}

.upload-container {
  width: 51%;
  height: 55%;
  margin: auto;
  margin-top: 50px;
}

.option-button {
  border: none;
  font-family: IRANYekan, sans-serif;
  font-size: 14px;
  padding: 10px;
  border-radius: 15px 15px 0 0;
  flex-direction: column;
  cursor: pointer;
  transition: 0.25s ease-in-out;
}

.option-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 7px;
  padding: 5px;
}

.option-button-container p {
  margin: 0;
}
