@font-face {
  font-family: "IRANYekan";
  src: url("./assets/fonts/IRANYekan.ttf");
  font-weight: normal;
  font-style: normal;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: row;
  font-family: IRANYekan, sans-serif;
  direction: rtl;
  background-color: #ffffff;
}

.sidebar {
  width: 12vw;
  background-color: #00b5a0;
  background-image: url("assets/images/Alefba-Group.svg"),
    linear-gradient(to bottom, #00b5a0, #00c69b);
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
  background-size: contain, cover;
  border-radius: 20px 0 0 20px;
  overflow: hidden;
}

.main-content {
  flex: 1;
  padding: 20px;
}

.title {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
  user-select: none;
}

.title p {
  color: #ffffff;
  font-size: 20px;
}

.selector-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25vh;
}

.selector {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  width: 70%;
  padding: 10px;
  cursor: pointer;
  transition: 0.25s ease-in-out;
  border-radius: 10px;
}

.selector:hover {
  background-color: #0000005c;
  scale: 1.05;
}

.selector p {
  margin: 0;
  color: #ffffff;
  width: 80%;
  text-align: center;
  font-size: 16px;
}

.main-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  text-align: center;
}

.main-title-container h1 {
  color: #00ba9f;
  font-size: 28px;
  margin: 0;
}

.main-title-container p {
  color: #969696;
  width: 33%;
  font-size: 16px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: end;
  width: 100%;
}

.user-button {
  width: 121px;
  height: 37px;
  overflow: hidden;
  border-radius: 30px;
  border: 2px solid #00ba9f;
  background-color: #ffffff;
  cursor: pointer;
}

.user-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 7px;
  margin: 0;
}

.user-title .user-icon {
  width: auto;
  height : 18.5px;
}

.user-title .drop-icon {
  width: 9.79px;
  height: auto;
}

.user-title p {
  font-size: 15px;
  font-family: IRANYekan, sans-serif;
  color: #00BA9F;
  margin: 0;
}
