@font-face {
  font-family: "IRANYekan";
  src: url("./assets/fonts/IRANYekan.ttf");
  font-weight: normal;
  font-style: normal;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-family: IRANYekan, sans-serif;
}

.sidebar {
  width: 12vw;
  background-color: #00b5a0;
  background-image: url("assets/images/Alefba-Group.svg"),
    linear-gradient(to bottom, #00b5a0, #00c69b);
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
  background-size: contain, cover;
  border-radius: 20px 0 0 20px;
}

.main-content {
  flex: 1;
  padding: 20px;
  background-color: #f4f4f4;
}

.title {
  display: flex;
  flex-direction: row;
  gap: 10px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.title p {
  color: #ffffff;
  font-size: 20px;
}
